body{
    background-image: url('shopping.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
h1{
    color: skyblue;
    text-shadow: 1px 1px 5px black;
}
table{
    width: 80%;
    margin:40px auto;
    background: rgb(pink);
}
table.list{
    text-align: center;
    width: 100%;

}
td{
    color: rgb(0, 0, 0);
    text-shadow: 1px 1px 4px rgb(255, 249, 249);
    border: 1px solid rgb(0, 0, 0);
    text-align: left;
    padding: 8px 15px;
}
tr:nth-child(even), table.list thread> tr{
    background-color: rgb(204,200,200);

}
input[type="text"],input[type="number"]{
    width:91%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1pxsolid rgb(165,161,161);
    border-radius: 4px;
}
input[type="submit"],input[type="reset"]{
    background: #eee;
    padding: 6px 12px;
    margin: 15px 0 10px;
    display: inline-block;
    border: none;
    border-radius:  30px;
    font-size: 1rem;
    cursor: pointer;
    outline: none;
}
input[type="reset"]:hover{
    background: rgb(194, 194, 93);
}
button{
    background: #eee;
    padding: 6px 12px;
    margin: 15px 0 10px;
    display: inline-block;
    border: none;
    border-radius:  30px;
    font-size: 1rem;
    cursor: pointer;
    outline: none;
}
button:hover{
    background: #4b99d8 ;
}

